

.login-body{
    background-image: url(https://i.ibb.co/WsQnXTb/frying-pan-empty-assorted-spices-eggs.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.signup-style{
    border-radius: 20px;  
    height: 400px !important;
   
}

.signin-style{
    border-radius: 20px;   
    height: 400px !important;
}